.destination {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.destination::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #0b0d17;
  background: url("../../assets/images/bg-destination-desktop.png");
  background-size: 900px cover;
  background-blend-mode: screen;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  padding-top: var(--headerHeight);
  align-content: center;
}

.presentation{
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 573px;
}




.presentation .presentationTitle{
  display: flex;
  gap: 28px;
  text-transform: uppercase;
}

.presentation .presentationTitle span{
  font-weight: bold;
  opacity: 0.24;
}

.presentation img{
  margin-left: 60px;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 450px;

  animation: animationRotate 300s linear infinite;
  border-radius: 50%;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.336);
}


@keyframes animationRotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}


.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 444px;
}

.page .pageNavigation ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  gap: 35px;

}

.page .pageNavigation ul li{
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.page .pageNavigation ul li:hover{
  border-color: rgba(255, 255, 255, 0.5)
}

.page .pageNavigation ul li *{
  color: var(--color-typography-light-medium);
  font-weight: 400;
}

.page .pageNavigation ul li.active{
  border-color: #fff;
}

.page .pageNavigation ul li.active *{
  color: #fff;

}

.page .title{
  text-transform: uppercase;
  margin-top: 37px;
}

.page .description{
  color: var(--color-typography-light-medium);
  display: flex;
  min-height: 130px;
}

.page hr{
  border-color: #383B4B;
  border-style: solid;
  margin-top: 54px;
  width: 100%;
  margin-bottom: 30px;
}

.page .info{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
}

.page .info .infoSpace{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}

.page .info .subTitle{
  color: var(--color-typography-light-medium);
}


@media(max-height: 800px){
  
  .presentation{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .presentation .presentationTitle{
    display: flex;
    gap: 14px;
  }

  .presentation img{
    margin-left: 30px;
    max-width: 360px;
    max-height: 360px;
  }

  .page{
    margin-top: 50px;
    max-width: 420px;

  }

  .page .title{
    text-transform: uppercase;
    margin-top: 37px;
  }

  .page.description{
    margin-top: 14px;
  }

  .page hr{
    border-color: #383B4B;
    border-style: solid;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .page .info .infoSpace{
    gap: 6px;
  }

}

@media (min-height: 900px){

  .presentation img{
    max-width: 550px;
    max-height: 550px;
  }
  .destination::after {
    background-size: cover;
  }
}

@media(min-height: 1080px){
  .container{
    justify-content: center;
    gap: 200px;
  }
  .page{
    margin-top: 0;
  }
}


@media (max-width: 1100px){
  .presentation img{
    margin-left: 30px;
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 1000px){
  .page{
    max-width: 350px
  }
}

@media (max-width: 768px){
  .destination::after {
    background-image: url(../../lib/assets/destination/background-destination-tablet.jpg);
  }

  .container{
    justify-content: center;
    align-items: center;
    gap: 53px;
  }

  .presentation{
    gap: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 573px;
  }

  .presentation .presentationTitle{
    width: 100%;
    font-size: 20px;
  }

  .presentation img{
    margin-left: 30px;
    max-width: 300px;
    max-height: 300px;
  }

  .page{
    max-width: 573px;
    justify-content: center;
    align-items: center;
  }

  .page .description{
    text-align: center;
  }
  .page .pageNavigation ul li *{
   font-size: 16px;
  }

  .page hr{
    margin-top: 36px;
    margin-bottom: 28px;
  }

  .page .info{
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) and (max-height: 900px){
  .destination::after {
    background-size: cover;
  }
  .container{
    padding: calc(var(--headerHeight) + 32px) 0;
    height: 100%;
  }

}

@media (max-width: 730px){
  .presentation,
  .page{
    width: 100%;
    max-width: calc(100% - 48px);
  }

  .container .page .info{
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .page .info *{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}