.destination {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.destination::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #0b0d17;
  background: url("../../assets/images/bg-destination-desktop.png");
  background-size: cover;
  background-blend-mode: screen;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;

  padding-top: calc(var(--headerHeight) * 2);
  height: auto;

}

.container .presentationTitle{
  display: flex;
  gap: 28px;
  text-transform: uppercase;
  width: 100%;
  max-width: unset;
}

.container .presentationTitle span{
  font-weight: bold;
  opacity: 0.24;
}

.container .slider{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  align-items: center;
  gap: 157px;
}


.container .slider .presentation{
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 573px;
  margin-top: 76px;
}


.container .slider .presentation img{
  margin-left: 60px;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 450px;

  animation: animationRotate 300s linear infinite;
  border-radius: 50%;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.336);
}


@keyframes animationRotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}


.container .slider .page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 444px;
}

.container .slider .page .pageNavigation ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  gap: 35px;

}

.container .slider .page .pageNavigation ul li{
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.container .slider .page .pageNavigation ul li:hover{
  border-color: rgba(255, 255, 255, 0.5)
}

.container .slider .page .pageNavigation ul li *{
  color: var(--color-typography-light-medium);
  font-weight: 400;
}

.container .slider .page .pageNavigation ul li.active{
  border-color: #fff;
}

.container .slider .page .pageNavigation ul li.active *{
  color: #fff;

}

.container .slider .page .title{
  text-transform: uppercase;
  margin-top: 37px;
}

.container .slider .page .description{
  color: var(--color-typography-light-medium);
  display: flex;
  min-height: 130px;
}

.container .slider .page hr{
  border-color: #383B4B;
  border-style: solid;
  margin-top: 54px;
  width: 100%;
  margin-bottom: 30px;
}

.container .slider .page .info{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
}

.container .slider .page .info .infoSpace{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}

.container .slider .page .info .subTitle{
  color: var(--color-typography-light-medium);
}

@media (min-height: 1000px){

  .presentation img{
    max-width: 550px;
    max-height: 550px;
  }
  .destination::after {
    background-size: cover;
  }
}


@media(max-height: 800px){
  
  .container{
   align-items: center;
  }
  
  .container .slider{
    justify-content: center;
  }
  .container .slider .presentation{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .container .presentationTitle{
    display: flex;
    gap: 14px;
  }

  .container .slider .presentation img{
    margin-left: 30px;
    max-width: 360px;
    max-height: 360px;
  }

  .page{
    margin-top: 50px;
    max-width: 420px;

  }

  .page .title{
    text-transform: uppercase;
    margin-top: 37px;
  }

  .page.description{
    margin-top: 14px;
  }

  .page hr{
    border-color: #383B4B;
    border-style: solid;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .page .info .infoSpace{
    gap: 6px;
  }

}

@media (max-width: 1396px) and (max-height:800px){
  .container .slider{
    gap: 64px;
    justify-content: space-between;
  }

  .container .slider .presentation img{
    margin-left: 30px;
    max-width: 300px;
    max-height: 300px;
  }

  .container .slider .page hr{
    border-color: #383B4B;
    border-style: solid;
    margin: 30px 0;
    width: 100%;
  }
}

@media (max-width: 1180px){
  .container .slider{
    gap: 32px;
    justify-content: center;
  }
}

@media (max-width: 768px) and (min-height: 1024px){
  .destination::after {
    background-image: url(../../lib/assets/destination/background-destination-tablet.jpg);
    background-size: cover;
  }

  .destination .container{
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding-top: calc(var(--headerHeight) + 40px);
    padding-bottom: 0;
    height: 100%;
  }

  .container .presentationTitle{
    width: 100%;
    font-size: 20px;
    max-width: unset;
  }

  .destination .container .slider{
    gap: 53px;
    justify-content: center;
    width: 100%;
  }

  .container .slider .presentation{
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: unset;
    margin: 0;
  }

  .container .slider .presentation img{
    margin-left: 30px;
    max-width: 300px;
    max-height: 300px;
  }

  .destination .container .presentation
  {
    width: 100%;
    max-width: unset;
  }


  .destination .container .page{
    max-width: 573px 
  }

  .page .description,
  .page .title,
  .page .pageNavigation ul{
    justify-content: center;
    text-align: center;
  }

  .page .pageNavigation ul li *{
   font-size: 16px;
  }

  .destination .container .slider .page hr{
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .page .info{
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) and (max-height: 800px){
  .destination .container{
    padding-top: calc(var(--headerHeight) + 40px);
  }

  .container .slider .page *{
    justify-content: center;
    text-align: center;
  }
}


@media (max-width: 690px){

  .destination .container{
    padding-top: calc(var(--headerHeight) + 16px);
    padding-bottom: 0;
    gap: 32px;
  }

  .container .slider{
    gap: 26px
  }

  .destination .container .presentationTitle{
    text-align: center;
    justify-content: center;
  }
  .container .slider .presentation{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0
  }


  .container .slider .presentation img{
    margin-left: 0;
    max-width: 170px;
    max-height: 170px;
  }

  .container .slider .page *{
    text-align: center;
    justify-content: center;
  }

  .container .slider .page .title{
    margin-top: 20px;
  }

  .container .slider .page .description{
    max-height: 121px;
    min-height: 121px;
  }

  .container .slider .page .info{
    align-content: center;
    gap: 24px;
  }

  .container .slider .page hr{
    margin: 32px 0;
  }
}