.technology {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.technology::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #0b0d17;
  background: url("../../lib/assets/technology/background-technology-desktop.jpg");
  background-size: 900px cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.technology .container{
  max-width: 100%;
  width: 100%;
  min-width: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: var(--padding-left);
  padding-top: calc(var(--headerHeight) * 2);
  height: auto;
}

.technology .container .presentationTitle{
  width: 100%;
  max-width: 550px;
  display: flex;

  gap: 24px;
}

.technology .container .presentationTitle span{
  font-weight: bold;
  opacity: 0.24;
}


.technology .container .slider{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.technology .container .slider .SliderWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5.55555555556vw;
  width: 100%;
  padding-top: 15.2222222222vh;
  max-width: calc(550px + 80px);
}

.technology .container .slider .SliderWrapper .sliderIndicators{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 80px;
  align-items: center;
  gap: 32px;
}

.technology .container .slider .SliderWrapper .sliderIndicators .btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 32px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  cursor: pointer;
}

.technology .container .slider .SliderWrapper .sliderIndicators .btn:hover{
  border: 1px solid #fff;
}

.technology .container .slider .SliderWrapper .sliderIndicators .btn[data-state="active"]{
  background-color: #fff;
  color: #0B0D17;
}

.technology .container .slider .SliderWrapper .sliderContent{
  width: 100%;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.technology .container .slider .SliderWrapper .sliderContent .subtitle,
.technology .container .slider .SliderWrapper .sliderContent .title{
  width: 100%;
  display: block;
}

.technology .container .slider .SliderWrapper .sliderContent .title{
  margin-bottom: 17px;
  margin-top: 11px;
  text-transform: uppercase;
}

.technology .container .slider .SliderWrapper .sliderContent .subtitle{
  color: #D0D6F9;
}

.technology .container .slider .SliderWrapper .sliderContent .description{
  width: 100%;
  max-width: 444px;
  min-height: 238px;
}

.technology .container .slider .sliderImages{
  width: 100%;
  max-width: 515px;
}

.technology .container .slider .sliderImages img{
  width: 100%;
  height: auto;
  max-height: 530px;
  object-fit: cover;
  object-position: center;
}

@media (min-height: 800px){
  .technology::after {
    background-size: cover;
  }
}

@media (max-height: 800px){
  .technology .container .slider .sliderImages img{
    max-height: calc(100vh - 30vh);
  }
}

@media (max-width: 1396px) and (max-height: 800px){
  .technology .container .slider .SliderWrapper .sliderContent .description{
    width: 100%;
    max-width: 390px;
  }

  .technology .container .slider .SliderWrapper .sliderContent .subtitle{
    color: #D0D6F9;
    font-size: 13px;
  }
  .technology .container .slider .SliderWrapper .sliderIndicators .btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 32px;
  }
  
  .technology .container .slider .sliderImages{
    max-width: 420px;
    padding-top: 7.61111111111vh;
  }
  
}


@media (max-width: 768px) and (min-height: 1024px), (max-width:950px){
  .technology::after{
    background-image: url(../../lib/assets/technology/background-technology-tablet.jpg);
  }
  .technology .container {
    padding-left: 0;
    padding-top: calc(var(--headerHeight) + 40px);
    gap: 60px;
  }

  .technology .container .slider {
    flex-direction: row;
    gap: 56px;
    justify-content: center;
  }


  .technology .container .slider .SliderWrapper{
    order: 2;
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
    max-width: var(--containerWidth);
    gap: 44px;
  }

  .technology .container .slider .SliderWrapper .sliderIndicators{
    width: 100%;
    max-width: unset;
    flex-direction: row;
    justify-content: center;
  }

  .technology .container .slider .SliderWrapper .sliderIndicators .btn{
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  .technology .container .slider .SliderWrapper .sliderContent{
    justify-content: center;
    align-items: center;
    max-width: var(--containerWidth);
  }

  .technology .container .slider .SliderWrapper .sliderContent *{
    text-align: center;
  }

  .technology .container .slider .sliderImages{
    order: 1;
    max-width: 100%;
    width: 100%;
    max-height: 310px;
  }

  .technology .container .slider .sliderImages img{
    max-height: 310px;
  }

  .technology .container .presentationTitle{
    max-width: var(--containerWidth);
    margin: 0 auto;
  }
}

@media (max-width: 1150px) and (max-height: 800px){
  .technology .container .slider .SliderWrapper{
    max-width: 50vw;
  }
  .technology .container .slider .SliderWrapper .sliderContent{
    max-width: 390px;
  }
  .technology .container .slider .sliderImages{
    max-width: calc(50vw - 116px);
  }
}

@media (max-width: 1024px) and (max-height: 800px){
  .technology .container .slider .SliderWrapper{
    gap: 16px;
  }

  .technology .container .slider .sliderImages{
    min-width: 390px;
  }
}

@media(max-width: 950px){
  .technology .container{
    width: 100%;
    max-width: unset;
    height: 100%;
  }
  .technology .container .slider{
    flex-direction: column;
  }
  .technology .container .slider .sliderImages{
    padding: 0;
    margin: 0;
    height:auto;
    overflow: hidden;
  }
  .technology .container .slider .sliderImages img{
    width: 100%;
    height: auto;
    min-width: unset;
    max-height: 100%;
    min-height: unset;
    object-position: center;
    object-fit: cover;
  }
}


@media (max-width: 690px){

  .technology::after{
    background-image: url(../../lib/assets/technology/background-technology-mobile.jpg);
  }

  .technology .container {
    padding-left: 0;
    padding-top: calc(var(--headerHeight) + 16px);
    gap: 32px;
  }

  .technology .container .presentationTitle{
    text-align: center;
    justify-content: center;
  }

  .technology .container .slider {
    flex-direction: row;
    gap: 34px;
    justify-content: center;
  }


  .technology .container .slider .SliderWrapper{
    order: 2;
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
    max-width: var(--containerWidth);
    gap: 26px;
  }

  .technology .container .slider .SliderWrapper .sliderIndicators{
    width: 100%;
    max-width: unset;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .technology .container .slider .SliderWrapper .sliderIndicators .btn{
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .technology .container .slider .SliderWrapper .sliderContent{
    justify-content: center;
    align-items: center;
    max-width: var(--containerWidth);
    min-height: 240px;
    height: 100%;
  }

  .technology .container .slider .SliderWrapper .sliderContent *{
    text-align: center;

  }

  .technology .container .slider .SliderWrapper .sliderContent .description{
    min-height: unset;
  }

  .technology .container .slider .sliderImages{
    order: 1;
    max-width: 100%;
    width: 100%;
    max-height: 30.2734375vh;
    min-height: 170px;
    padding-top: 0;
    overflow: hidden;
  }

  .technology .container .slider .sliderImages img{
    max-height: 30.2734375vh;
    min-height: 170px;
  }

  .technology .container .presentationTitle{
    max-width: var(--containerWidth);
    margin: 0 auto;
  }
}

@media (max-width: 375px){
  .technology .container{
    padding-left: 0;
    min-width: unset;
  }
  .technology .container .slider {
    width: 100%;
    align-content: center;
    max-width: 100%;
    min-width: unset;
    min-width: unset;
  }
  .technology .container .slider .sliderContent,
  .technology .container .slider .SliderWrapper{
    max-width: 100%;
    min-width: unset
  }

  .technology .container .slider .sliderContent{
    margin: 0 auto;
  }

   .technology .container .slider .sliderImages{
     width: 100%;
     min-width: unset;
     max-width: 100%;
  }

   .technology .container .slider .sliderImages img{
    width: 100%;
    min-width: unset;
    max-width: unset;
    max-height: 170px;
    min-height: unset;
    object-fit: cover;
  }
}