.home{
  width: 100%;
  min-height: 100vh;
  background: url(/src/lib/assets/home/background-home-desktop.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home .container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 120px;
}




.home .welcome{
  max-width: 450px;
} 


.home .btnExplorer{
  width: 274px;
  height: 274px;
  background: #fff;
  color: #0B0D17;
  font-family: var(--typography-serif);
  border-radius: 50%;
  font-size: 32px;
  border: unset;
  text-transform: uppercase;
  transition: 250ms linear;
  cursor: pointer;
}

.home .btnExplorer:hover{
  box-shadow: 0px 0px 0px 88px #979797af;
}

@media (max-height: 750px){
  .home .btnExplorer{
    width: 200px;
    font-size: 24px;
    height: 200px;
  }

  .home .btnExplorer:hover{
    box-shadow: 0px 0px 0px 44px #979797af;
  }
}