:root{
  --h1-maxSize: 150px;
  --h2-maxSize: 100px;
  --h3-maxSize: 56px;
  --h4-maxSize: 32px;
  --h5-maxSize: 28px;
  --subHeader1-maxSize: 28px;
  --h6-maxSize: 16px;
  --text-maxSize: 18px;
} 

:-webkit-any(article, aside, nav, section) h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.heading1,
.heading2,
.heading3,
.heading4,
.heading1 {
  font-family: var(--typography-serif);
  color: var(--color-typography-light);
  font-weight: 400;
  line-height: 1;
}

.heading5,
.subHeading2,
.navText {
  font-family: var(--typography-sans-condensed);
  color: var(--color-typography-light);
  font-weight: 400;
}

.heading1 {
  font-size: var(--h1-maxSize);
}

.heading2 {
  font-size: var(--h2-maxSize);
  line-height: 1.02;
}

.heading3 {
  font-size: var(--h3-maxSize);
}

.heading4 {
  font-size: var(--h4-maxSize);
}

.heading5 {
  font-size: var(--h5-maxSize);
  letter-spacing: 4.72px;
  color: var(--color-typography-light-medium);
  font-weight: 400;
}

.subHeading1 {
  font-size: var(--subHeader1-maxSize);
  font-family: var(--typography-serif);
}

.subHeading2 {
  font-size: 14px;
  letter-spacing: 2.36px;
  color: var(--color-typography-light);
}

.navText {
  font-size: 16px;
  letter-spacing: 2.7px;
}

.Text {
  color: var(--color-typography-light-medium);
  font-family: var(--typography-sans);
  line-height: 32px;
  font-size: var(--text-maxSize);
}



@media (max-width: 768px) and (min-height: 1024px){
  :root{
    --h2-maxSize: 80px;
    --h3-maxSize: 40px;
    --h4-maxSize: 24px;
    --h5-maxSize: 20px;
  }
}

@media (max-width: 1396px) and (max-height: 800px){
  :root{
    --h1-maxSize: 116px;
    --h2-maxSize: 80px;
    --h3-maxSize: 40px;
    --h4-maxSize: 24px;
    --h5-maxSize: 17px;
    --text-maxSize: 16px;
    --subHeader1-maxSize: 20px;
  }

  .Text{
    line-height: 28px;
  }

  .subHeading2{
    font-size: 12px;
  }
}


@media (max-width: 690px){
  :root{
    --h1-maxSize: 80px;
    --h2-maxSize: 56px;
    --h3-maxSize: 24px;
    --h4-maxSize: 18px;
    --h5-maxSize: 16px;
    --text-maxSize: 16px;
    --subHeader1-maxSize: 20px;
  }
}

@media (max-width: 360px){
  :root{
    --h1-maxSize: 64px;
    --h2-maxSize: 56px;
    --h3-maxSize: 24px;
    --h4-maxSize: 18px;
    --h5-maxSize: 16px;
    --text-maxSize: 16px;
    --subHeader1-maxSize: 20px;
  }

  .Text {
    line-height: 22px;
  }
}

/* @media (max-width: 720px) {
  .heading1 {
    font-size: clamp(80px, 100vw, 150px);
  }

  .heading2 {
    font-size: clamp(56px, 100vw, 100px);
  }

  .heading3 {
    font-size: clamp(24px, 100vw, 56px);
  }

  .heading4 {
    font-size: clamp(16px, 100vw, 32px);
  }

  .heading5 {
    font-size: clamp(16px, 100vw, 28px);
    letter-spacing: 4.72px;
    color: var(--color-typography-light-medium);
    font-weight: 400;
  }
}

@media (max-width: 719px) {
  .heading1 {
    font-size: clamp(80px, 4.8vw, 150px);
  }

  .heading2 {
    font-size: clamp(56px, 0, 100px);
  }

  .heading3 {
    font-size: clamp(24px, 0, 56px);
  }

  .heading4 {
    font-size: clamp(16px, 0, 32px);
  }

  .heading5 {
    font-size: clamp(16, 0, 28px);
    letter-spacing: 2.7px;
  }
} */

.default {
  font-size: inherit;
  color: inherit;
  font-weight: 400;
  font-family: inherit;
}

p,span,a{
  text-shadow: 0px 0px 2px rgba(208, 214, 249,0.4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}