.navigation {
  width: 59.0277777778vw;
  min-width: 450px;
  height: 100%;
}

.navigation .btnNavigation{
  display: none;
}

.navigation ul {
  list-style: none;
  max-width: 59.0277777778vw;
  height: 100%;
  gap: 48px;

  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(9px);
}

.navigation ul::before {
  --paddingLeft: 47px;
  --position: calc(32.8472222222vw - var(--paddingLeft));
  content: "";
  width: 32.8472222222vw;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  top: 50%;
  right: calc(100% - var(--paddingLeft));
  transform: translateY(-50%);
}



.navigation ul li {
  height: 100%;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--color-typography-light);
  display: flex;
  flex-direction: row;
  height: 100%;
  text-transform: uppercase;

  border-bottom: 3px solid transparent;
  transition: 350ms linear;
}

.navigation ul li a  *{
  font-size: 16px;
}

.navigation ul li a:hover {
  border-bottom: 3px solid #ffffff33;
}

.navigation ul li a .navLink {
  font-weight: bold;
  display: flex;
  gap: 11px;
  align-items: center;
  height: 100%;
  pointer-events: none;
}

.navigation ul li a *{
  font-size: 14px;
}

.navigation ul li a .navLink *:first-child {
  font-weight: bold;
}

.navigation ul li a.active {
  border-bottom: 3px solid #fff;
  transition: 250ms ease-in-out;
}

@media (max-height: 700px){
  .navigation ul::before {
    --paddingLeft: 42px;
  }
}

@media (max-width: 1200px){
  .navigation ul::before{
    display: none;
  }

  .navigation ul .indicator{
    display: none;
  }
}

@media (max-width: 768px){
  .navigation{
    max-width: 450px;
  }
  
  .navigation ul {
    max-width: 100%;
    padding: 0;
    gap: 37px;
    min-width: 450px;
  }

  .navigation ul li *{
    font-size: 13px;
  }
}

@media (max-width: 690px){
  .navigation{
    width: auto;
    max-width: unset;
    min-width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .navigation .btnNavigation{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
    width: 34px;
    height: 34px;
  }

  .navigation .btnNavigation svg{
    stroke: #fff;
  }
  .navigation .btnNavigation svg:not(.menuClose){

    width: 34px;
    height: 34px;
  }

  .menuClose{
    display: none;
  }

  .menuOpen{
    color: inherit;
  }

  .navigation ul{
    position: fixed;
    width: 67.7333333333vw;
    min-width: 254px;
    max-width: unset;
    height: 100vh;
    min-height: unset;
    top: 0px;
    right: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
    padding-top: 125px;
    align-items: flex-start;
    overflow: hidden;
    display: none;
  }

  .navigation ul.active{
    display: flex;
  }

  
  .navigation ul li{
    width: 100%;
    height: auto;
  }

  .navigation ul li a{
    border: 0px;
    border-bottom: unset;
    border-right: 4px solid transparent;
    padding-left: 32px;
  }

  .navigation ul li .indicator{
    display: flex;
  }

  .navigation ul li a.active {
    border-bottom: 0px;
    border-right: 4px solid #fff;
    transition: 250ms ease-in-out;
  }
  


  
}