.crew {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.crew::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #0b0d17;
  background: url("../../lib//assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-position: center;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: calc(2 * var(--headerHeight));
  align-items: flex-end;
}


.sliderMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90%;
  max-width: 573px;
  padding-bottom: calc(1 * var(--headerHeight));
}

.sliderMain .presentationTitle{
  display: flex;
  gap: 28px;
  text-transform: uppercase;
  width: 100%;
}

.sliderMain .presentationTitle span{
  font-weight: bold;
  opacity: 0.24;
}

.presentationTitleMobile{
  display: none;

  gap: 28px;
  text-transform: uppercase;
  width: 100%;
}

.presentationTitleMobile span{
  font-weight: bold;
  opacity: 0.24;
}

.sliderMain .sliderContent{
  /* margin-top: 154px */

}

.sliderMain .sliderContent .role{
  text-transform: uppercase;
  opacity: 0.5;
} 

.sliderMain .sliderContent .name{
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-top: 15px;
} 


.sliderMain .sliderContent .bio{
  width: 100%;
  max-width: 444px;
  color: #D0D6F9;
}

.sliderMain .sliderIndicators{
  display: flex;
  gap: 24px;
  width: 100%;
}

.sliderMain .indicator{
  width: 15px;
  height: 15px;
  opacity: 0.17;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}



.sliderMain .indicator[data-active=false]{
  opacity: 0.17;
}

.sliderMain .indicator[data-active=true]{
  opacity: 1;
}

.sliderMain .indicator:hover,
.sliderMain .indicator[data-active=false]:hover{
  opacity: 0.5;
}

.sliderImage{
  display: flex;
  height: 90%;
  align-items: flex-end;
  max-width: 568px;
}

.container .sliderImage img{
  height: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1396px) and (max-height: 800px){
  .sliderMain .sliderContent .name{
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 8px;
  } 
  
  .sliderMain .sliderIndicators{
    display: flex;
    gap: 16px;
    width: 100%;
  }
  
  .sliderMain .indicator{
    width: 11px;
    height: 11px;
    opacity: 0.17;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}

@media (max-width: 1250px){
  .sliderMain{
    max-width: 444px;
  }
}

@media (max-width: 768px) and (min-height: 1024px){
  .crew::after {
    background: url("../../lib/assets/crew/background-crew-tablet.jpg");
  }

  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 100vh;
    justify-content: center;
    align-items: flex-end;
    padding-top: 32px;
    width: 100%;
  }

  .sliderMain,.sliderImage{
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 573px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .sliderMain .sliderContent{
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .sliderMain .sliderContent .name{
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 8px;
  } 

  .sliderMain .sliderContent *{
    text-align: center;
  }

  .sliderMain .sliderContent .bio{
    width: 100%;
    max-width: 520px;
  }

  .container .sliderImage img{
    height: auto;
    width: auto;
    max-width: unset;
    max-height: calc(532px - 40px);

  }
  
  .sliderMain .sliderIndicators{
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 690px){
  .crew::after{
    background-image: url(../../lib//assets/crew/background-crew-mobile.jpg);
  }
  .container{
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: calc(var(--headerHeight) );
    height: auto;
    gap: 32px;
  }

  .container .sliderMain .presentationTitle{
    display: none;
  }
  


  .container .sliderMain{
    order: 2;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0;
  }

  .container .sliderMain .sliderIndicators{
    order: 1;
    justify-content: center;

  }

  .container .sliderMain .sliderContent{
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    min-height: 230px;
  }

  .container .sliderMain .sliderContent *{
    display: block;
    width: 100%;
    text-align: center;
  }

  .container .sliderMain .sliderContent .name{
    margin-top: 8px;
    margin-bottom: 16px;
  }
  
  .container .sliderImage{
    order: 1;
    border-bottom: 2px solid #383B4B;
    height: auto;
    min-height: unset;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap:32px;
    height: calc(223px + 32px);
  }

  .container .sliderImage .presentationTitleMobile{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .container .sliderImage img{
    width: auto;
    max-width: 200px;
    height: 223px;
    min-height: unset;
    max-height: 100%;
  }
}